.modal {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(196, 196, 196, 0.5);
}

.modal__window {
    max-width: 350px;
    background: var(--white);
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 40px;
}

.modal__close {
    position: absolute;
    top: 15px;
    right: 15px;
}

.modal__title {
    margin-top: 0;
    margin-bottom: 14px;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #334D6E;
}

.modal__content {
    margin: 0;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-4);
}