.footer {
    background: var(--white);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    color: var(--black);
    text-align: center;
    /* padding-top: 72px; */
    /* padding-bottom: 136px; */

}

.footer_inner {
    background: #F9FAFC;
}

.footer__title {
    font-size: 38px;
    text-align: center;
    padding-top: 72px;
    margin-top: 0;
    margin-bottom: 32px;
}

.footer__content {
    text-align: center;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 136px;
}

.footer__title-inner {
    padding-top: 92px;
    margin-top: 0;
    margin-bottom: 56px;
    font-size: 12px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--grey-3);
}