.footer {
    background: var(--white);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    color: var(--black);
    padding-top: 72px;
    padding-bottom: 136px;

}

.footer_inner {
    padding-top: 92px;
    padding-bottom: 56px;
    text-align: center;
    background: #F9FAFC;


}

.footer__title_inner {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--grey-3);
}

.footer__title {
    font-size: 38px;
    text-align: center;
}

.footer__content {
    text-align: center;
    font-size: 16px;
}